[submodule "services/services/user_profile_service"]
	path = services/user_profile_service
	url = https://github.com/Gellert5225/sc-user-profile-service.git
[submodule "services/services/feed_service"]
	path = services/feed_service
	url = https://github.com/Gellert5225/sc-feed-service.git
[submodule "services/docs"]
	path = services/docs
	url = https://github.com/Gellert5225/sc-doc.git
[submodule "services/services/auth_service"]
	path = services/auth_service
	url = https://github.com/Gellert5225/sc-auth-service
[submodule "services/services/file_service"]
	path = services/file_service
	url = https://github.com/Gellert5225/sc-file-service